
/*GLOBAL*/

body {
    font-family: Verdana, Courier, sans-serif;
}

/*HEADERS*/
.header--title {
    text-align: center;
    font-size: 48px
}

h2 {
    text-align: center;
    color: seagreen;
    font-size: 32px;
}

/*TABLES*/
.table--1 {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 18px;
    

    
}

.table--2 {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 18px;
   
}

th {
    background-color: rgba(68, 190, 99, 0.2);
    height: 50px;
    border: 1px solid black;
}

tr, td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}


.table--tag-header {
    width: 15%;
}

.table--name-header {
    width: 15%;

}

.table--description-header {
    width: 70%;
}

.code {
    font-family: monospace;
    font-weight: bold;
    background-color: rgb(224, 224, 224);

}